# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
ENV/

# Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.spec

# Logs
*.log

# Executables
*.exe

# PyInstaller
__pycache__/

# Other
*.sqlite3
